@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;

	--color-mine-shaft: #2E2E2E;
	--color-gold: #FFD500;
	--color-concrete: #F2F2F2;

	--font-light: 300;
	--font-bold: 700;
}

html {
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 62.5%;
	line-height: 1.5;
}

body {
	font-size: 1.3rem;
	line-height: 1.6;
}
ol, ul {
  list-style: none;
}
a {
	text-decoration: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}

h6 {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: .15rem;
	line-height: 1.2;
}
h5 {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: .15rem;
	line-height: 1.2;
}
h4 {
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: .15rem;
}
h3 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .15rem;
}

@media (min-width: 0px)    { .rim { padding: calc(100vw/60) } }
@media (min-width: 320px)  { .rim { padding: calc(100vw/48) } }
@media (min-width: 640px)  { .rim { padding: calc(100vw/48) } }
@media (min-width: 960px)  { .rim { padding: calc(100vw/36) } }
@media (min-width: 1280px) { .rim { padding: calc(100vw/36) } }
@media (min-width: 1600px) { .rim { padding: calc(100vw/36) } }
@media (min-width: 1920px) { .rim { padding: calc(100vw/36) } }
@media (min-width: 2240px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 2560px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 2880px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 3200px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 3520px) { .rim { padding: calc(100vw/24) } }
@media (min-width: 3840px) { .rim { padding: calc(100vw/24) } }